@font-face {
    font-family: Mulish;
    src: url(fonts/Mulish-VariableFont_wght.ttf);
}

@font-face {
    font-family: MulishItalic;
    src: url(fonts/Mulish-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: PlusJakarta;
    src: url(fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: ThicccboiBold;
    src: url("fonts/THICCCBOI-Bold.ttf");
}

@font-face {
    font-family: ThicccboiEtraBold;
    src: url("fonts/THICCCBOI-ExtraBold.ttf");
}

@font-face {
    font-family: ThicccboiThin;
    src: url("fonts/THICCCBOI-Light.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #0e0e13;
    color: white;
    font-family: Mulish, serif;
}



img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

a, a:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.appleLinks a {
    color: dimgrey;
    text-decoration: none;
}


#home {
    height: fit-content;
    min-height: 100vh;
    background-color: #0e0e13;

}

#about-me {
    height: fit-content;
    background-color: #1a1a23;
}

#education {
    height: fit-content;
    background-color: #0e0e13;
}

#projects {
    height: fit-content;
    background-color: #1a1a23;

}

#experience {
    height: fit-content;
    background-color: #0e0e13;

}

#values {
    height: fit-content;
    background-color: #1a1a23;
}

#footer {

    background-color: #000000;
    padding-bottom: 5%;
}

.inline-block {
    text-decoration: none;
    display: inline-block;
}

.colored-text {
    color: white;
    background-image: linear-gradient(to right, #c003b0, #6600ff);
    -webkit-background-clip: text;
    color: transparent;
}

.colored-text-title {
    color: white;
    background-image: linear-gradient(to right, #6339a2, #7303c0, #ec38bc);
    background-color: #f3ec78;
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;;
}

.title-container {
    padding-top: 3em;
    height: fit-content;
    width: 100%;
    text-align: center;
}
.colored-text-footer {
    color: white;
    background-image: linear-gradient(to left, orange, deeppink, blueviolet);
    background-color: #f3ec78;
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

h1 {
    color: white;
    font-size: 4.0em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 15%;
    font-family: ThicccboiEtraBold, serif;
}

h2 {
    letter-spacing: 2px;
    font-family: ThicccboiBold, Verdana, serif;
    background-image: linear-gradient(to left, #8056ff, #9703fd, #ec38bc);
    background-color: #f3ec78;
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    width: fit-content;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 200%;
}

h3 {
    color: white;
    font-weight: bold;
    font-size: 1.7em;
}


.navbar-container {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    background: rgba(14, 14, 19, .8);
    z-index: 10;
    height: 4em;
    width: 100%;
    top: 0;
}

#navbar-logo-container {
    position: relative;
    height: 100%;
    text-align: center;
    margin-left: 6%;

}

.logo-esteban {
    padding: 5%;
    height: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
}

.navbar-list-container {
    width: 100%;
    height: 100%;
}


.nav-list {
    float: right;
    width: fit-content;
    height: 100%;
    list-style: none;
    line-height: 4em;

}

.nav-element {
    vertical-align: middle;
    height: 100%;
    display: inline-block;
    margin: auto 3em auto auto;
}


.nav-button {
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.nav-button:visited {
    color: white;
}

.nav-button:hover {
    color: #7d3df8;
    transition: 0.3s ease;
    cursor: pointer;
}

.nav-button:active {
    color: #8e25d0;

}


.active {
    color: #7d3df8;
}

.fa-moon {
    z-index: 20;
    color: white;
}

.fa-moon:hover {
    transition: ease 0.3s;
    scale: 120%;
    color: #7d3df8;
    cursor: pointer;
}


.fa-earth-americas {
    color: white;
}

.fa-earth-americas:hover {
    transition: ease 0.3s;
    scale: 120%;
    color: #7d3df8;
    cursor: pointer;
}

.home-container {
    margin-top: 3%;
    padding-bottom: 7%;
    display: grid;
    grid-template-columns: 60% 40%;

}

.home-text-container {
    margin-top: 20%;
    flex: 1;
    height: 100%;
    width: 100%;
}

#home-second-text {
    color: #c7c5c5;
    margin-bottom: 2em;
    font-size: 1.5em;
    margin-left: 15%;
}

.home-button-container {
    width: 100%;
    height: 3.7em;
    display: flex;
    justify-content: start;
    align-content: center;
    margin-left: 15%;

}

.home-button-contact {
    width: 22%;
    height: 100%;
    position: relative;
    margin-left: 2%;
    display: inline-block;

}

.home-button-contact-up {
    position: absolute;
    z-index: 9;
    height: 90%;
    width: 95%;
    top: 0;
    left: 0;
    right: 5%;
    bottom: 10%;
    background-color: black;
}

.home-button-contact-up:hover {
    top: 10%;
    left: 5%;
    right: 0;
    bottom: 0;
    transition: 0.2s ease;
    cursor: pointer;
}

.home-button-contact-up:active {
    top: 0;
    left: 0;
    right: 5%;
    bottom: 10%;
}

.home-button-contact-down {
    position: absolute;
    width: 95%;
    height: 90%;
    left: 5%;
    top: 10%;
    z-index: 0;
    background-image: linear-gradient(to right, #21113b, #7303c0, #ec38bc);
}

.home-button-contact-link {
    color: white;
    text-decoration: none;
    width: 50%;
}

#home-button-contact-text {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.2em;
}


.home-button-download {
    height: 100%;
    width: 40%;
    margin-left: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-button-download-text {
    text-decoration: none;
    color: white;
    display: inline-block;
    font-weight: bold;
    margin-right: 1em;
    font-size: 1.2em;

}

#home-right-arrow {
    z-index: 9;
    width: 20px;
    height: 20px;
    background-image: url("images/white-right-arrow.svg");
    object-fit: contain;
}

#home-button-download-text:hover + #home-right-arrow {
    background-image: url("images/pink-right-arrow.svg");
    cursor: pointer;
}

#home-button-download-text:hover {
    color: #7d3df8;
    transition: 0.2s ease;
}

#home-button-download-pink-arrow {
    opacity: 10%;
}

.home-image-container {
    height: 100%;
}
.home-head-container {
    position: relative;
    max-width: 100%;
    height: 100%;
}

.home-esteban-head {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;

}

.fa-terminal {
    font-size: 0.7em;
}

.about-grid-container {
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 3%;
}

#about-text-container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #000000;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-content: start;
    border: 1px solid white;
    border-radius: 2px;
}

#about-terminal-navbar {
    background-color: whitesmoke;
    height: 2em;
}
#about-terminal-title-container {
    float: left;
    width: fit-content;
    padding-left: 2%;
    text-align: center;
}
#about-terminal-title {
    color: #343333;
    margin: auto;
}

#about-terminal-icon-container {
    height: 100%;
    float: right;
    width: fit-content;
}
.about-terminal-icon {
    max-height: 100%;
}


#about-text-wrapper {
    border-radius: 2px;
    padding-top: 6%;

}

.about-paragraph {
    width: 90%;
    color: white;
    background-color: #151518;
    border-radius: 25px;
    border: solid 1px #000000;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 6%;

    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: justify;
}

.about-image-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.about-image {
    max-height: 100%;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.about-link-to-education {
    text-decoration: none;
    color: #9828f3;
    font-weight: bold;
}

.about-link-to-education:hover {
    color: #a654ff;
}


#education-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 7%;
}

#education-list {
    display: grid;
    grid-template-columns: 1fr;
}

#education-illustration-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 15%;
    margin-right: 10%;
    height: 100%;
    object-fit: contain;
}

.education-element-grid {
    border: 2px solid #c4abff;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: fit-content;
    background-color: black;
    margin-top: 3%;
}

#education-illustration {
    width: 100%;
}

.education-element-text-container {
    margin: 3%
}

.education-element-title {
    display: flex;
    justify-content: left;
}

.education-element-date {
    color: #807d7d;
    margin-bottom: 2%;
}

.education-element-legend {
    color: white;
}

.education-element-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    object-fit: contain;
}

.education-element-image {
    height: 5em;
    width: 5em;
    border-radius: 50%;
}

#experience-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 5%;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.experience-element-grid {
    border: 2px solid #c4abff;
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: fit-content;
    min-height: 4em;
    background-color: black;
    border-radius: 50px;
    margin: 3%;
}

.experience-element-grid:hover {
    border: solid 2px white;
}

.experience-element-text-container {
    margin: 3%;

}

.experience-element-title {
    display: flex;
    height: fit-content;
    justify-content: left;
    width: fit-content;
    color: white;
}

.experience-element-date {
    color: #9f9d9d;
    height: fit-content;
    margin-bottom: 2%;

}

.experience-element-duration {
    color: dimgrey;
    overflow: hidden;
    height: fit-content;
}


.experience-element-legend {
    height: fit-content;
    color: white;

}

.experience-element-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    aspect-ratio: 1 / 1;
    width: 100%;
    margin: auto;
}

.experience-element-image {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.8em;
    margin: auto;
    object-fit: cover;
    border-radius: 50%;
}


.projects-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 0.3%;
    padding-top: 5%;
    padding-bottom: 8%;
}

.projects-grid-component {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}


.projects-grid-card {
    border: #000000 solid 3px;
    align-content: center;
    height: auto;
    width: 70%;
    background-color: white;
    position: relative;
}

.projects-grid-card:hover .projects-grid-content-image {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    transform: scale(120%);
    cursor: pointer;
}


.projects-grid-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}

.projects-grid-content-image-container {
    height: 10em;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    background: white;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.projects-grid-content-image {
    height: 100%;
    width: 100%;
    transition: 0.5s all ease-in-out;

}

.projects-grid-content-tech {
    font-weight: bold;
    text-align: center;

}

.projects-grid-content-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

.projects-grid-content-view {
    color: grey;
    text-align: center;
}

.projects-grid-link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}

.projects-grid-link:hover {
    opacity: 70%;
    cursor: pointer;
}

.projects-grid-content-view:hover {
    opacity: 1;
    transition: 0.3s ease;
    cursor: pointer;
}


.projects-button-container {
    position: relative;
    width: 100%;
    height: 50px;
}

.projects-button-github {
    position: relative;
    float: right;
    margin-right: 4%;
    width: 15%;
    height: 100%;
    display: inline-block;
}


.projects-button-github-up {
    position: absolute;
    z-index: 9;
    height: 90%;
    width: 95%;
    top: 0;
    left: 0;
    right: 5%;
    bottom: 10%;
    background-color: black;
}

.projects-button-github-up:hover {
    top: 10%;
    left: 5%;
    right: 0;
    bottom: 0;
    transition: 0.2s ease;
    cursor: pointer;
}

.projects-button-github-up:active {
    top: 0;
    left: 0;
    right: 5%;
    bottom: 10%;
}

.projects-button-github-down {
    position: absolute;
    width: 95%;
    height: 90%;
    left: 5%;
    top: 10%;
    z-index: 0;
    background-image: linear-gradient(to right, #21113b, #7303c0, #ec38bc);
}

.projects-button-github-link {
    color: white;
    text-decoration: none;
    width: 50%;
}

.projects-button-github-text {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


#values-grid {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    grid-gap: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 8%;
}

.values-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.values-image-container {
    display: flex;
    justify-content: center;
    height: 4em;
    object-fit: contain;
    margin-bottom: 3%;
}

.values-image {
    height: 100%;
}

.values-title {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 3%;
    color: white;
}

.values-legend {
    text-align: center;
    color: lightgrey;

}


#footer-title {
    font-size: 3.5em;
    font-weight: bold;
}

#footer-second-title {
    text-decoration: none;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: -2px;
    background-size: 0 0.1em, 100% 0.1em;
}

#footer-second-title:hover {
    width: fit-content;
    background-image: linear-gradient(to left, orange, deeppink, blueviolet);
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 0 100%, 100% 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    cursor: pointer;
}

#footer-title-container {
    padding-top: 10%;
    width: 70%;
    margin-right: 20%;
    margin-left: 10%;
}

#footer-esteban-text {
    color: white;
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 5%;
}

#footer-colored-text {
    color: #ff5e69;
    font-weight: bold;
}

#footer-mail {
    font-size: 1.4em;
    text-decoration: none;
    color: dimgrey;
}

#footer-mail:hover {
    color: #ff5e69;
    cursor: pointer;
}
